<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dp1/src/main/java/ZipLock.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ZipLock"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-a dp.jar -x edu.mit lc1.dp.appl.CNVHap  lc1.dp.appl.ExtractGenotypes org.ensembl.Example lc1.assoc.VirtualDataCollection lc1.dp.appl.CompareBasic"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dp1"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/lcoin/Documents"/>
</launchConfiguration>
